/*中身を非表示にしておく*/
.hidden_box .hidden_show {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
}

/*クリックで中身表示*/
.hidden_box input:checked ~ .hidden_show {
    padding: 10px 0;
    height: auto;
    opacity: 1;
}

#kyuboxf, #kyuboxs, #kyuboxt, #joseif, #joseis, #joseit,
#joseifiv, #joseisix, #joseisev, #joseieig, #joseinin,
#type1hyo, #type2hyo, #type3hyo, #kihonqa2, #kihonqa3,
#kihonqa4, #kihonqa5{
  display: none;
}

span.h5col {
  color: #ffffff;
}

span.h5teju {
  color: #ad341c;
  font-weight: bold;
}

.originalimg img {
  width:100%;
}

/* 年プルダウンの変更 */
select.ui-datepicker-year{
  height: 2em!important;      /* 高さ調整 */
  margin-right:5px!important; /* 「年」との余白設定 */
  width:120px!important;       /* 幅調整 */
}
/* 月プルダウンの変更 */
select.ui-datepicker-month{
  height: 2em!important;      /* 高さ調整 */
  margin-left:5px!important;  /* 「年」との余白設定 */
  width:100px!important;       /* 幅調整 */
}
